[submodule "TASTE-SAMV71-Runtime"]
	path = TASTE-SAMV71-Runtime
	url = git@github.com:n7space/TASTE-SAMV71-Runtime.git
[submodule "cpputest"]
	path = cpputest
	url = git@github.com:cpputest/cpputest.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:n7space/cmake-tools.git
